---
import Layout from "../layouts/Layout.astro";
import Introduction from "../components/Introduction.astro";
import Timeline from "../components/Timeline.astro";
import Portfolio from "../components/Portfolio.astro";
import Contact from "../components/Contact.astro";
import Snow from "../components/Snow.astro";
---

<Layout title="Andrzej Mazurkiewicz">
  <main>
    <Snow />
    <div class="snap-y h-screen snap-mandatory overflow-y-scroll">
      <div class="snap-start relative flex flex-col h-screen w-full">
        <div class="relative m-auto self-center">
          <Introduction />
        </div>
      </div>

      <div class="snap-start relative flex flex-col h-screen w-full">
        <div class="relative m-auto self-center">
          <Timeline />
        </div>
      </div>

      <div class="snap-start relative flex flex-col h-screen w-full">
        <div class="relative m-auto self-center">
          <Portfolio />
        </div>
      </div>

      <div class="snap-start relative flex flex-col h-screen w-full">
        <div class="relative m-auto self-center">
          <Contact />
        </div>
      </div>
    </div>
  </main>
</Layout>
