<div class="flex content-center flex-col">
  <div class="text-center">
    <h1 class="text-7xl text-stone-200 mb-1 font-bold">Andrzej Mazurkiewicz</h1>
    <p class="text-2xl text-stone-300/75 mb-3 font-medium">Software Engineer</p>
    <p class="text-lg text-stone-50">
      I am a passionate developer who has so far mainly worked on backend and scripts to automate daily activities.
    </p>
    <p class="text-lg text-stone-50">
      I love exploring new technologies and programs to make my workflow more efficient.
    </p>
  </div>

  <div class="flex flex-row justify-center mt-20 ml-72">
    <div>
      <p class="text-xl text-stone-50">Languages I use:</p>
      <ul class="list-disc list-inside">
        <li class="text-base font-bold text-green-300 group hover:scale-110 hover:translate-x-9 duration-500">
          Python<a class="text-stone-50 opacity-0 group-hover:opacity-100 duration-1000">
            - fulltime with almost four years of commercial experience</a>
        </li>
        <li class="text-base font-bold text-orange-300 group hover:scale-110 hover:translate-x-9 duration-500">
          JavaScript/Typescript<a class="text-stone-50 opacity-0 group-hover:opacity-100 duration-1000">
            - mainly maintenance and smaller tasks (with react)</a>
        </li>
        <li class="text-base font-bold text-blue-300 group hover:scale-110 hover:translate-x-9 duration-500">
          C++<a class="text-stone-50 opacity-0 group-hover:opacity-100 duration-1000">
            - recently started supporting c++ team in their tasks</a>
        </li>
        <li class="text-base font-bold text-orange-700 group hover:scale-110 hover:translate-x-9 duration-500">
          Rust<a class="text-stone-50 opacity-0 group-hover:opacity-100 duration-1000">
            - as more of a free time language to explore</a>
        </li>
      </ul>
    </div>

    <div class="ml-20">
      <p class="text-xl text-stone-50">Tools I use:</p>
      <ul class="list-disc list-inside">
        <li class="text-base font-bold text-sky-300 group hover:scale-110 hover:translate-x-9 duration-500">
          Arch<a class="text-stone-50 opacity-0 group-hover:opacity-100 duration-1000"> - by the way :)</a>
        </li>
        <li class="text-base font-bold text-blue-200 group hover:scale-110 hover:translate-x-9 duration-500">
          Hyperland WM<a class="text-stone-50 opacity-0 group-hover:opacity-100 duration-1000">
            - I like customization, productivity and predictability</a>
        </li>
        <li class="text-base font-bold text-green-700 group hover:scale-110 hover:translate-x-9 duration-500">
          Neovim<a class="text-stone-50 opacity-0 group-hover:opacity-100 duration-1000">
            - still learining vim keybindigs, but it's my main text editor</a>
        </li>
        <li class="text-base font-bold text-blue-600 group hover:scale-110 hover:translate-x-9 duration-500">
          Fish<a class="text-stone-50 opacity-0 group-hover:opacity-100 duration-1000">
            - once you try fish, you can't go back to bash</a>
        </li>
      </ul>
    </div>
  </div>
</div>
