<div class="flex items-center justify-center flex-col text-center pt-20 pb-6">
    <h1 class="text-4xl text-stone-200 md:text-5xl mb-1 md:mb3 font-bold">Andrzej Mazurkiewicz</h1>
    <p class="text-base text-stone-400/75 md:text-xl mb-3 font-medium">Software Engineer</p>
    <p class="text-base text-stone-50">
        I am a passionate developer who has so far mainly worked on backend and scripts to automate daily activities
        using <a class="text-base font-bold text-green-300">Python</a> programming language
        <br>
        with a bit of maintenance
        and feature work on frontend using <a class="text-base font-bold text-sky-400">React</a> and 
        <a class="text-base font-bold text-orange-400">JS/TS</a>.
        <br>
        As I became more familiar with Python I started looking for a statically typed language that's why I intend to
        learn <a class="text-base font-bold text-blue-300">Go</a> or <a class="text-base font-bold text-orange-900">Rust</a>
        in near future.
        <br>
        I'm also exploring world of frontend and frontend frameworks to get better understanding of fullstack world.
        <br>
        (I use <a class="text-base font-bold">Arch</a> btw)
    </p>
</div>